/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/


body {
    width: 250px;
    background-color: #bdc3c7;
   color: #bdc3c7
}
.profil {
width: 250px;
background-color: #31363b;
box-shadow: 3px 5px 20px rgb(0,0,0,0.5)
}
.foto {
width: 100%
}   
.stin {
    box-shadow: 3px 5px 20px rgb(0,0,0,0.5);
}
.obsah {
background-color:  #31363b;
font-family: 'Source Sans Pro', sans-serif;
color: rgb(190, 199, 199);
padding: 0 15px;
}
.jmeno,.odkazy{
    font-family: 'Montserrat', 'Source Sans Pro';
    color: azure;
}
.logo {
    background-color: #b92e81;
    bottom: -10%;
    border-radius: 50%;
    right: 25px;
    position: absolute;
}
.hlavicka {
    position: relative;
}
h1 {
    margin-top: 30px;
    font-size: 25px;
    color: white;
}
.odkazy {
    list-style: none;
    padding-left: 0%;
    text-align: center;
    font-weight: 600;  
}
.odkazy a {
    color:  rgb(190, 199, 199);
    text-transform: uppercase;
    text-decoration-line: none;
    font-size: 13px;
    display: inline-block;
    font-family: 'Montserrat';
    padding: 15px;

}
/* rámeček pro facebook */
.facebook {
    width: 50%;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    background-color: #31363b;
      }
.twitter {
    width: 50%;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    background-color: #1da1f2
    }
.portfolio {
border-width: 1px;
border-style: solid;
background-color: #31363b;
}